<footer class="footer">
{% include "partials/navbar.twig" %}
    <div class="footer__container">
        <p class="footer__copyright">
            Copyright © 2025 Oveco
        </p>
        <p class="footer__legal">
            All Rights Reserved | Terms and Conditions | Privacy Policy
        </p>
    </div>
</footer>
