---
---

<meta http-equiv="refresh" content="0; url=/admin/index.html#/~" />
<link rel="canonical" href="/admin/index.html#/~" />
<script>
  window.location.replace('/admin/index.html#/~');
  // Fallback si replace n'est pas supporté
  setTimeout(() => {
    if (location.pathname !== '/admin/index.html') {
      location.href = '/admin/index.html#/~';
    }
  }, 0);
  </script>

<p>Redirection vers l'interface TinaCMS..</p>

