---
/**
 * Footer Component - Oveco
 * Footer simple avec copyright et liens légaux
 * 
 * @component
 */

export interface Props {
  copyrightYear?: number;
  companyName?: string;
  legalText?: string;
}

const { 
  copyrightYear = new Date().getFullYear(), 
  companyName = "Oveco",
  legalText = "All Rights Reserved | Terms and Conditions | Privacy Policy"
} = Astro.props;
---

<footer class="footer">
  <div class="footer__container">
    <p class="footer__copyright">
      Copyright © {copyrightYear} {companyName}
    </p>
    <p class="footer__legal">
      {legalText}
    </p>
  </div>
</footer>

<style lang="scss">
  @use '../assets/scss/astro-components' as *;
  @use '../assets/scss/components/_footer' as *;
</style>
