<section class="oveco-section">
    <div class="container">
        <div class="oveco__container">
            <div class="oveco__content">
                <div class="oveco__header">
                    <h3 class="oveco__subtitle">Oveco c'est quoi ?</h3>
                    <h2 class="oveco__title">Concevoir. Installer. Transmettre.</h2>
                </div>
                <p class="oveco__description">Nous concevons et mettons en œuvre des systèmes performants : pompes à chaleur, ventilation, panneaux solaires, électricité et réseaux de chaleur.<br>De l'étude de faisabilité à la mise en service, nous accompagnons chaque projet avec rigueur et transparence.<br>Notre expérience dans l'habitat groupé et le logement collectif s'appuie sur une approche intégrée, alliant expertise technique et coordination sur le terrain.</p>
                <a href="#about" class="oveco__link">
                    <span>En savoir plus</span>
                    <img src="{{ assets_url }}/icons/Arrow.svg" alt="Flèche" class="oveco__arrow">
                </a>
            </div>
            <div class="oveco__visual">
                <img src="{{ assets_url }}/imgs/maison-build.png" alt="Réalisation Oveco" loading="lazy" class="oveco__main-image">
                <img src="{{ assets_url }}/icons/maison.png" alt="Icône maison" class="oveco__icon oveco__icon--house">
                <img src="{{ assets_url }}/icons/crayon.png" alt="Icône crayon" class="oveco__icon oveco__icon--pencil">
            </div>
        </div>
    </div>
</section>
