{# Page À propos - About #}
{% extends "base.twig" %}

{% block content %}
<div class="about-page">
  <div class="page-body is-gutenberg">
  {% if post.post_content %}
    {{ fn('the_content') }}
  {% endif %}
  </div>

  {# section projet #}
  {% include "partials/projects-section.twig" %}
  {# Section contact #}
    {% include "partials/contact-section.twig" %}
</div>
{% endblock %}
