{% extends "base.twig" %}

{% block content %}
<div class="page-body is-gutenberg">
  {% if post.post_content %}
    {{ fn('the_content') }}
  {% endif %}
</div>
 {%  include "partials/projects-section.twig" %}
 {# simple compétence section (centrée dans le container) #}
 <div class="container">
   {% include "partials/simple-competence.twig" with {
     number: 'Compétence 1',
     title: 'Titre de la compétence',
     description: 'Description lorem ipsum dolor sit amet consectetur adipiscing elit tortor eu egestas morbi sem vulputate etiam facilisis pellentesque ut quis.',
     cta: { label: 'Nous contacter', url: site.url ~ '#contact' },
     image: { src: assets_url ~ '/icons/maison.png', alt: 'Icône maison' }
   } %}
 </div>

{% endblock %}
