{% extends "base.twig" %}

{% block content %}
<div class="page-body is-gutenberg">
  {% if post.post_content %}
    {{ fn('the_content') }}
  {% endif %}
</div>
{# project section #}
 {% include "partials/projects-section.twig" %}
 {#section témoignage #}
  {% include "partials/testimonials-section.twig" %}
{% endblock %}
