{% extends "base.twig" %}

{% block content %}
    <div class="home-page">
        <section class="hero">
            <div class="container">
                <div class="hero__container">
                    <div class="hero__content">
                        <img src="{{ assets_url }}/imgs/maison-toit.png" alt="Maison avec toiture énergétique" loading="lazy" class="hero__image hero__image--large-1" id="img1">
                        <img src="{{ assets_url }}/imgs/maison-toit-2.png" alt="Installation énergétique" loading="lazy" class="hero__image hero__image--large-2" id="img2">
                        <img src="{{ assets_url }}/imgs/maison-build.png" alt="Construction énergétique" loading="lazy" class="hero__image hero__image--medium-1" id="img3">
                        <img src="{{ assets_url }}/imgs/maison-build.png" alt="Réalisation énergétique" loading="lazy" class="hero__image hero__image--medium-2" id="img4">
                        
                        <div class="hero__header">
                            <div class="hero__subtitle">oveco</div>
                            <h1 class="hero__title">Une réflexion énergétique globale vers l'autonomie</h1>
                        </div>
                        <p class="hero__description">Des ingénieurs-installateurs qui conçoivent <br>et réalisent votre projet sur mesure.</p>
                        <a href="#contact" class="hero__cta">
                            <span>Nous contacter</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <div class="speration"></div>

        {# Section Oveco #}
        {% include "partials/oveco-section.twig" %}

        {# Section Expertise #}
        {% include "partials/expertise-section.twig" %}

        {# Section Partners #}
        {% include "partials/partners-section.twig" %}

        {# Section Auto-construction #}
        {% include "partials/autoconstruction-section.twig" %}

        {# Section Projects #}
        {% include "partials/projects-section.twig" %}

        {# Section Testimonials #}
        {% include "partials/testimonials-section.twig" %}

        {# Section Partners #}
        {% include "partials/partners-section.twig" %}

        {# Section Certifications #}
        {% include "partials/certifications-section.twig" %}

        {# Section Oveco #}
        {% include "partials/oveco-section.twig" %}

        {# Section Contact #}
        {% include "partials/contact-section.twig" %}

        
    </div>
{% endblock %}
